/* ----------------------------------common_styles-----------------------------------

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

.clearfix::after
  content: ""
  clear: both
  display: table

body
  font-family: $default-font
  background: #fefefe
  margin: 0
  padding: 0
  font-size: 16px

.container
  width: 100%
  max-width: 1224px
  min-width: 320px
  margin: 0 auto

.left
  float: left

.right
  float: right

img
  max-width: 100%
  height: auto

.h2-title
  font-size: 51px
  line-height: 1
  text-align: center
  margin: 30px 0
  padding: 0

.left-title
  text-align: left