/*-----------------------------------header----------------------------------------------

.main-header
  position: relative

.header-top
  min-height: 120px
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.3)
  -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.3)
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.3)
  padding: 30px 0px
  position: fixed
  width: 100%
  z-index: 3
  background: $white

.logo-block
  margin-top: 5px
  margin-left: 108px
  z-index: 3

.logo-link
  display: block

/*-----------------------------------lang buttons----------------------------------------------

.languages
  text-align: center
  border: 1px solid $yellow_border
  border-radius: 10px
  font-weight: bold
  display: inline-block
  vertical-align: middle
  margin-right: 35px
  a
    display: inline-block
    vertical-align: top
    height: 27px
    text-decoration: none
    font-family: "Fira Sans", Arial, sans-serif
    font-size: 20px
    line-height: 30px
    font-weight: bold
    text-transform: uppercase
    background: $white
    text-align: center
    position: relative
    color: $black
    padding: 0 8px
    &:first-child
      border-radius: 10px 0px 0px 10px
    &:last-child
      border-radius: 0px 10px 10px 0px
    &:first-child.active
      border-radius: 8px 0px 0px 8px
    &:last-child.active
      border-radius: 0px 8px 8px 0px
    &.active
      background: $yellow_border
  .active
    &:before
      content: ''
      display: block
      clear: both
      width: 0
      height: 0
      top: 0
      z-index: 5
      position: absolute
    &:after
      content: ''
      display: block
      clear: both
      width: 0
      height: 0
      top: 0
      z-index: 2
      position: absolute
      background: $black
  .ru-lang.active:before
    border-right: 4px solid transparent
    border-top: 27px solid $yellow_border
    left: 39px
  .kg-lang.active:before
    border-left: 4px solid transparent
    border-top: 27px solid $yellow_border
    left: -4px
  .ru-lang.active:after
    width: 1px
    left: 41px
    transform: skewX(-8deg)
    height: 27px
  .kg-lang.active:after
    width: 1px
    right: 41px
    transform: skewX(8deg)
    height: 27px

.user
  width: 56px
  height: 56px
  border-radius: 50%
  background: $white
  border: 4px solid #ffc500
  display: inline-block
  vertical-align: middle
  margin-right: 39px
  .user-link
    display: block

/* -------------------------timer------------------------------------

.main-timer .infoblock
  background: $white
  background: url('../images/banner_main_bg_index.jpg') no-repeat center center fixed
  background-size: cover
  width: 100%
  height: 780px
  position: relative


.infoblock .main-title
  font-weight: bold
  color: $black
  margin: 0
  text-align: center
  padding-top: 250px

.main-title
  .big-part
    font-size: 135px
  .little-part
    font-size: 51px

.timer-block
  background: $accent
  position: absolute
  bottom: 0
  width: 100%
  .timer-description
    font-size: 26px
    font-weight: bold
    text-align: center
    margin-bottom: 10px
  .timer
    background: rgba(256, 256, 256, 0.4)
    width: 50%
    margin: 0 auto 30px
    border-radius: 7px
    -webkit-box-shadow: inset 0px 0px 8px 2px rgba(0, 1, 5, 0.1)
    -moz-box-shadow: inset 0px 0px 8px 2px rgba(0, 1, 5, 0.1)
    box-shadow: inset 0px 0px 8px 2px rgba(0, 1, 5, 0.1)
    padding: 10px
    text-align: center
  .timer-item
    font-size: 65px
    font-weight: 600
    display: inline-block
    padding: 22px 0px 25px
    background: $white
    -webkit-box-shadow: inset 0px 0px 8px 2px rgba(0, 1, 5, 0.2)
    -moz-box-shadow: inset 0px 0px 8px 2px rgba(0, 1, 5, 0.2)
    box-shadow: inset 0px 0px 8px 2px rgba(0, 1, 5, 0.2)
    width: 20%
    margin-right: 5%
    border-radius: 10px
    line-height: 1
    position: relative
    &:before
      content: ':'
      font-size: 65px
      position: absolute
      top: 50%
      right: -21%
      margin-top: -38px
      color: rgba(0, 0, 0, 0.3)
    &:after
      font-size: 19px
      position: absolute
      bottom: -30px
      left: 0
      width: 100%
      text-align: center
  .days:after
    content: 'дня'
  .hours:after
    content: 'часа'
  .minutes:after
    content: 'мин.'
  .seconds:after
    content: 'сек.'
  .timer-item:last-child
    margin-right: 0
    &:before
      display: none