/*----------------------------------- main-content ----------------------------------------------

.main-content
  background: url("../images/bg_patt.png") no-repeat bottom
  background-size: cover
  padding: 50px 0 150px
  .content-title
    margin-bottom: 50px
  .number-cards
    text-align: center
  .number-card
    width: 33.33%
    float: left
    padding: 27px 36px
    background: transparent
    border-radius: 10px
    &:hover
      background: #f6f6f6

.card-image-block
  position: relative

.img-card-desc
  position: absolute
  top: 32px
  left: 32px
  font-size: 40px
  font-weight: 600
  text-align: left
  span
    display: block
    line-height: 0.85
  .big
    text-transform: uppercase
    font-size: 90px

/*slick

.change-number-block
  min-height: 300px
  margin: 43px 0 30px
  .slick-list
    height: 194px
    border-style: solid
    border-width: 2px
    border-color: $white
    border-radius: 8px
    -webkit-background-size: 100%
    background-size: 100%
    -webkit-box-shadow: inset 0px -2px 10px 1px rgba(0, 0, 0, 0.27)
    -moz-box-shadow: inset 0px -2px 10px 1px rgba(0, 0, 0, 0.27)
    box-shadow: inset 0px -2px 10px 1px rgba(0, 0, 0, 0.27)
    position: relative

.list-wrap
  position: relative
  width: inherit
  height: auto
  &:before, &:after
    content: ''
    width: 14px
    height: 16px
    display: block
    position: absolute
    top: 50%
    margin-top: -8px
    background: url("../images/_slider_triangle_left.png") no-repeat 0 0
    z-index: 7
  &:before
    left: 1px
  &:after
    right: 1px
    transform: rotate(180deg)

.change-number-block .list-wrap-gradient
  background: -moz-linear-gradient(top, rgba(145, 145, 145, 1) 0%, rgba(145, 145, 145, 0.9) 11%, rgba(125, 125, 125, 0.78) 25%, rgba(214, 214, 214, 0.5) 57%, rgba(255, 255, 255, 0.32) 77%, rgba(214, 214, 214, 0.25) 85%, rgba(255, 255, 255, 0.18) 93%, rgba(255, 255, 255, 0.12) 100%)
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145, 145, 145, 1)), color-stop(11%, rgba(145, 145, 145, 0.9)), color-stop(25%, rgba(125, 125, 125, 0.78)), color-stop(57%, rgba(214, 214, 214, 0.5)), color-stop(77%, rgba(255, 255, 255, 0.32)), color-stop(85%, rgba(214, 214, 214, 0.25)), color-stop(93%, rgba(255, 255, 255, 0.18)), color-stop(100%, rgba(255, 255, 255, 0.12)))
  background: -webkit-linear-gradient(top, rgba(145, 145, 145, 1) 0%, rgba(145, 145, 145, 0.9) 11%, rgba(125, 125, 125, 0.78) 25%, rgba(214, 214, 214, 0.5) 57%, rgba(255, 255, 255, 0.32) 77%, rgba(214, 214, 214, 0.25) 85%, rgba(255, 255, 255, 0.18) 93%, rgba(255, 255, 255, 0.12) 100%)
  background: -o-linear-gradient(top, rgba(145, 145, 145, 1) 0%, rgba(145, 145, 145, 0.9) 11%, rgba(125, 125, 125, 0.78) 25%, rgba(214, 214, 214, 0.5) 57%, rgba(255, 255, 255, 0.32) 77%, rgba(214, 214, 214, 0.25) 85%, rgba(255, 255, 255, 0.18) 93%, rgba(255, 255, 255, 0.12) 100%)
  background: -ms-linear-gradient(top, rgba(145, 145, 145, 1) 0%, rgba(145, 145, 145, 0.9) 11%, rgba(125, 125, 125, 0.78) 25%, rgba(214, 214, 214, 0.5) 57%, rgba(255, 255, 255, 0.32) 77%, rgba(214, 214, 214, 0.25) 85%, rgba(255, 255, 255, 0.18) 93%, rgba(255, 255, 255, 0.12) 100%)
  background: linear-gradient(to bottom, rgba(145, 145, 145, 1) 0%, rgba(145, 145, 145, 0.9) 11%, rgba(125, 125, 125, 0.78) 25%, rgba(214, 214, 214, 0.5) 57%, rgba(255, 255, 255, 0.32) 77%, rgba(214, 214, 214, 0.25) 85%, rgba(255, 255, 255, 0.18) 93%, rgba(255, 255, 255, 0.12) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='$white', GradientType=0 )
  opacity: 0.2
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border-radius: 10px
  border: 1px solid transparent

.slick-slider
  .item
    padding: 14px 0px
    opacity: 1
  .list-wrap .slick-current
    border-top: 1px solid $white
    /*font-size: 49px;
    color: $black

.change-number-block
  .slick-arrow
    position: relative
    top: 0
    width: 100%
    height: 45px
    border: 2px solid $yellow_border
    border-radius: 7px
    display: block
    font-size: 0
    background: transparent
    cursor: pointer
    left: auto
    right: 0
  .slick-prev
    top: 15px
  .slick-next
    top: 30px
  .slick-arrow:before
    position: absolute
    content: ''
    width: 0
    height: 0
    left: 0px
    right: 0px
    margin: auto
    font-size: 0
  .slick-prev:before
    border-style: solid
    border-width: 0 10.5px 19px 10.5px
    border-color: transparent transparent #414141 transparent
    top: 11px
  .slick-next:before
    border-style: solid
    border-width: 19px 10.5px 0 10.5px
    border-color: #414141 transparent transparent transparent
    top: 11px
  .item
    color: #5f5f5f
    font-size: 31px
    border: 1px solid $white

.offer-price-block
  .offer-price-btn
    font-size: 24px
    width: 100%
    background: $yellow_border
    stroke: none
    border: none
    border-radius: 10px
    line-height: 1.4
    padding: 10px 0
    color: #414141
    margin-bottom: 40px
    cursor: pointer
  .offer-price-desc
    color: #4b4b4b
    margin-bottom: 36px
    &:last-child
      margin-bottom: 6px

.price
  .price-title
    font-size: 15px
    margin-bottom: 15px
  .price-info
    font-size: 21px
  &.left
    text-align: left
  &.right
    text-align: right

/*------------------------------------------main-cabinet---------------------------------------------------

.main-cabinet
  padding-top: 120px
  background-image: url('../images/banner-main-bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  position: relative
  background-attachment: fixed

.cabinet-wrapper
  padding: 65px 122px
  .cabinet-desc
    margin-bottom: 80px
  .user-requests-desc
    font-size: 24px
    font-weight: 500
  .desc-user-info, .desc-user-number
    font-size: 24px
  .desc-user-city, .desc-user-mail
    font-size: 17px

.user-request-item
  border-radius: 10px
  margin-bottom: 27px
  height: 110px
  overflow: hidden
  background: $white
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.08)


  .request-card-type
    width: 20%
    float: left
    overflow: hidden
    display: table

    img
      display: flex
      justify-content: center
      align-items: center

  .request-number-block
    position: relative
    width: 40%
    float: left
    padding: 23px 0px
    text-align: center

    span
      font-size: 48px
      display: block
      margin-bottom: 16px
      text-align: center
      line-height: 1

    .request-number-btn
      border: none
      background: #ffc527
      outline: none
      padding: 6px 13px 0px
      line-height: 1
      font-size: 17px
      display: inline-block
      vertical-align: bottom

      border-radius: 10px 10px 0 0


  .request-start-price,
  .request-your-price
    border-right: 1px solid #cccccd

  .request-start-price
    border-left: 1px solid #cccccd

  .request-start-price,
  .request-current-price,
  .request-your-price
    text-align: center
    margin: 23px 0px

    .current-price-desc,
    .your-price-desc,
    .start-price-desc
      font-size: 17px
      font-family:  $default-font
      padding: 0px 10px

    .current-price,
    .your-price,
    .start-price
      font-family:  $medium-font
      font-size: 25px







  .request-start-price,
  .request-your-price,
  .request-current-price
    float: left
    width: 13.3333%