@import "vars"

@media (max-width: 1100px)
  .user-request-item
    .request-card-type
      width: 22%
    .request-number-block
      width: 35%
      span
        font-size: 40px
        margin-bottom: 24px

    .request-start-price,
    .request-your-price,
    .request-current-price
      width: 14.3333%

@media (max-width: 992px)
  /* ----------------------------------common_styles-----------------------------------
  .h2-title
    font-size: 49px
  /* ----------------------------------header_top-----------------------------------
  /* ----------------------------------header_bottom-----------------------------------
  .timer-block
    .timer
      width: 55%
    .timer-item
      font-size: 50px
  .main-title
    .big-part
      font-size: 105px
    .little-part
      font-size: 42px
  .main-timer .infoblock
    height: 680px
  .timer-block .timer-description
    margin-top: 15px
    font-size: 25px
  .infoblock .main-title
    padding-top: 200px
  .timer-block .timer-item
    &:before
      right: -22%
    &:after
      font-size: 18px
  /* ----------------------------------main-content-----------------------------------
  .main-content .content-title
    margin-bottom: 40px
  /*--------------------------------------------price----------------------------------
  .offer-price-block .offer-price-desc
    color: #4b4b4b
    margin-bottom: 10px
  .price
    &.left, &.right
      float: none
      margin-bottom: 20px
      text-align: center
    .price-title
      float: left
      text-align: left
      margin-bottom: 0
      font-size: 17px
    .price-info
      float: right
      text-align: right
      font-size: 17px
  .offer-price-block .offer-price-btn
    font-size: 20px

  .user-request-item
    .request-card-type
      width: 22%
    .request-number-block
      width: 32%
      .request-number-btn
        font-size: 15px
      span
        font-size: 32px
        margin-bottom: 34px

    .request-start-price,
    .request-your-price,
    .request-current-price
      width: 15.3333%

      .current-price-desc,
      .your-price-desc,
      .start-price-desc
        font-size: 15px

      .current-price,
      .your-price,
      .start-price
        font-size: 20px



@media (max-width: 760px)
  /* ----------------------------------common_styles-----------------------------------
  .h2-title
    font-size: 46px
  /* ----------------------------------header_top-----------------------------------
  .header-top
    padding: 10px 0
    min-height: 80px
  .logo-block
    margin: 0px 50px
    text-align: center
    width: 25%
  .logo-link
    margin-top: 10px
  .languages
    border-radius: 8px
    a
      font-size: 14px
      height: 20px
      line-height: 22px
      &:first-child.active
        border-radius: 7px 0 0 7px
    .ru-lang.active
      &:before
        border-right: 4px solid transparent
        border-top: 23px solid $yellow_border
        left: 32px
      &:after
        width: 1px
        left: 34px
        transform: skewX(-9deg)
        height: 20px
    .kg-lang.active
      &:before
        border-left: 4px solid transparent
        border-top: 20px solid $yellow_border
        left: -4px
      &:after
        width: 1px
        right: 34px
        transform: skewX(9deg)
        height: 20px
  .user-block
    border-radius: 3px
    margin-top: 10px
  .user
    width: 41px
    height: 41px
  /* ----------------------------------header_bottom-----------------------------------
  .timer-block .timer
    width: 60%
  .main-timer .infoblock
    height: 600px
  .infoblock .main-title
    padding-top: 165px
  .main-title
    .big-part
      font-size: 90px
    .little-part
      font-size: 33px
  .timer-block
    .timer-description
      margin-top: 14px
      font-size: 23px
    .timer-item
      font-size: 46px
      padding: 16px 0px 17px
      &:before
        right: -24%
        font-size: 60px
        margin-top: -35px
      &:after
        font-size: 16px
  .main-content .number-card
    width: 85%
    float: none
    margin: 30px auto

@media (max-width: 640px)
  /* ---------------------------------header-bottom------------------------------
  .main-timer .infoblock
    height: 560px
  .infoblock .main-title
    padding-top: 140px
  .main-title .big-part
    font-size: 80px
  .timer-block
    .timer
      width: 65%
    .timer-description
      font-size: 22px
    .timer-item
      font-size: 42px
      padding: 12px 0px 13px
  .main-title .little-part
    font-size: 30px
  .timer-block .timer-item:before
    font-size: 50px
    margin-top: -31px

@media (max-width: 480px)
  .logo-block
    margin: 0px 30px
    width: 30%
  .logo-link
    margin-top: 15px
  .languages
    margin-right: 10px
  .user-block
    margin-top: 20px
  .user
    margin-right: 20px
    width: 32px
    height: 32px
  .languages
    a
      font-size: 12px
      height: 18px
      line-height: 20px
    .ru-lang.active
      &:before
        border-top: 20px solid $yellow_border
        left: 30px
      &:after
        left: 32px
        transform: skewX(-12deg)
        height: 18px
    .kg-lang.active:after
      right: 32px
      transform: skewX(12deg)
      height: 18px
  /* ---------------------------------header-bottom------------------------------
  .infoblock .main-title
    padding-top: 124px
  .main-timer .infoblock
    height: 450px
  .main-title
    .big-part
      font-size: 70px
    .little-part
      font-size: 27px
  .timer-block
    .timer
      width: 77%
    .timer-description
      font-size: 20px
    .timer-item
      font-size: 38px
      &:before
        right: -27%

@media (max-width: 400px)
  .logo-link
    margin-top: 20px
  /* ---------------------------------header-bottom------------------------------
  .main-timer .infoblock
    height: 430px
  .infoblock .main-title
    padding-top: 115px
  .timer-block
    .timer
      width: 87%
    .timer-description
      font-size: 18px

  /* ---------------------------------cabinet-------------------------------

